* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
}
.main-widht {
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;

}
.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #E48E13;
}
.hero header .logo h2 a {
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
.hero header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0 30px;
}
nav ul li {
    list-style: none;
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus {
    border-bottom: 2px solid white;
}
nav ul li.active a {
    border-bottom: 2px solid white;
}
nav ul li.btn a{
    background: transparent;
    color: white;
    border: 1px solid #f5dca8;
    padding: 9px 20px;
    border-radius: 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    margin-left: 150px;
}
nav ul li.btn:hover a {
    border: 1px solid white;
    color: black;
    background: white;
    transition: .4s;
}
.content {
    margin-left: 120px;
    padding-top: 80px;
}
.content .main-text {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}
.content .main-text h6 {
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.content .main-text h1 {
    font-size: 100px;
    line-height: 1;
    color: white;
    margin: 0px 0px 45px;
    font-family: 'Permanent Marker', cursive;
}
.content .main-text h1:hover {
    color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content .main-text h3 {
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.content .main-text p{
    max-width: 100%;
    width: 480px;
    color: white;
    line-height: 1.8;
    font-size: 15px;
}
.content .main-text a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
.content .main-text a:hover {
    transform: scale(1.2);
    border: 1px solid #f5dca8;
    background: transparent;
    transition: .4s;
    color: white;
}
.content .main-text a.cta {
    border: 1px solid #f5dca8;
    color: white;
    background: transparent;
    margin-left: 20px;
}
.content .main-text a.cta i{
    margin-right: 12px;
}
.content .main-text a.cta:hover {
    color: black;
    background: white;
    border: 1px solid white;
    transition: .4s;
}
.content .social {
    position: relative;
    z-index: 2;
}
.content .social a {
    display: inline-block;
    color: #f5dcac;
    margin-right: 25px;
    font-size: 24px;
}
.content .social a:hover {
    transform: scale(1.2);
    transition: .4s;
    color: white;
}
.image {
   position: absolute;
   width: 100%;
   height: 85%;
   bottom: 0;
   right: 0;
   text-align: right;
}
.image img {
    height: 100%;
}
